* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  #content {
    grid-gap: 10px;
    grid-template-columns: auto;
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "nav article article article article"
    "footer footer footer footer footer";
     
}
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
  }

  header {
    grid-area: header;
  }

  #content > article {
    text-align: center;
    grid-area: article;

  }
  #content > nav {
    grid-area: nav;
    text-align:justify;
    text-decoration: none;
    
  }
  a {
      text-decoration: none;
      
      
  }
  ul {
    list-style-type: none;
    text-align: left;
  }
  h1, h3, h2, li {
    margin: 5px;
    color: #5C3C44;
  }
  li a {
    text-align: left;
    color: #5C3C44;
    padding: 0px;
    margin: 0px;
  }
  a:hover {
    color: #DCD0D3
  }
  
  header, footer {
    background: #DCD0D3;
    height: 100px;
    
  }
  header, footer, article, nav {
    padding: 5px;
    margin: 5px;
   
  }
  p {
   margin: 5px;
   padding: 5px;
   color: #5C3C44;
  }
  
#text {
  margin: 10px;
}
button {
  margin: 10px;
  text-decoration: none;
  padding: 5px;
  background-color: white;
  color:#5C3C44;
  border-color: #5C3C44;
}
button:hover {
  background-color: #5C3B41;
  color: white;
}
img {
  margin: 10px;
}
#navButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

.hiding {
  display: none;
}

#searchbar {
  width: 200px;
  height: 25px;
  border-radius: 5px;
 
}
@media screen and (max-width: 768px) {

  #content {
  grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "article article article article"
  "footer footer footer footer";
  }
  header, footer {
    width: 100%;
  }
  img {
    display: none;
  }
  nav {
    grid-area: nav;

  }
}

  @media screen and (max-width: 576px) {
    #content {
        grid-template-areas: "header" "nav" "article" "footer";
    }
    nav {
      grid-area: nav;
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
    header,footer {
      width: 100%
    }
   img {
     display: none;
   }
  }
